.DS_Store

/xcode/build/
xcode/build/

/.DS_Store

/xcode/.DS_Store
/xcode/build/Debug/EEtang.app/Contents/MacOS/EEtang
/xcode/build/EEtang.build/Debug/EEtang.build/build-state.dat
/xcode/build/EEtang.build/Debug/EEtang.build/EEtang-project-headers.hmap
/xcode/build/EEtang.build/Debug/EEtang.build/EEtang.dep
/xcode/build/EEtang.build/Debug/EEtang.build/EEtang.hmap
/xcode/build/EEtang.build/Debug/EEtang.build/Objects-normal/i386/EEtang.LinkFileList
/xcode/build/EEtang.build/Debug/EEtang.build/Objects-normal/i386/EEtang_dependency_info.dat
/xcode/build/EEtang.build/Debug/EEtang.build/Objects-normal/i386/EEtangApp.d
/xcode/build/EEtang.build/Debug/EEtang.build/Objects-normal/i386/EEtangApp.o
/xcode/build/EEtang.build/Debug/EEtang.build/Objects-normal/i386/SceneEtang.d
/xcode/build/EEtang.build/Debug/EEtang.build/Objects-normal/i386/SceneEtang.o
w32_test_musicbox/vc10/Debug/CinderProject.exe.embed.manifest
w32_test_musicbox/vc10/Debug/CinderProject.exe.embed.manifest.res
w32_test_musicbox/vc10/Debug/CinderProject.exe.intermediate.manifest
w32_test_musicbox/vc10/Debug/CinderProject.ilk
w32_test_musicbox/vc10/Debug/CinderProject.lastbuildstate
w32_test_musicbox/vc10/Debug/CinderProject.log
w32_test_musicbox/vc10/Debug/CinderProject.pdb
w32_test_musicbox/vc10/Debug/CinderProject.write.1.tlog
w32_test_musicbox/vc10/Debug/CinderProjectApp.obj
w32_test_musicbox/vc10/Debug/CinderProject_manifest.rc
w32_test_musicbox/vc10/Debug/cl.command.1.tlog
w32_test_musicbox/vc10/Debug/CL.read.1.tlog
w32_test_musicbox/vc10/Debug/CL.write.1.tlog
w32_test_musicbox/vc10/Debug/link-cvtres.read.1.tlog
w32_test_musicbox/vc10/Debug/link-cvtres.write.1.tlog
w32_test_musicbox/vc10/Debug/link.command.1.tlog
w32_test_musicbox/vc10/Debug/link.read.1.tlog
w32_test_musicbox/vc10/Debug/link.read.2.tlog
w32_test_musicbox/vc10/Debug/link.write.1.tlog
w32_test_musicbox/vc10/Debug/mt.command.1.tlog
w32_test_musicbox/vc10/Debug/mt.read.1.tlog
w32_test_musicbox/vc10/Debug/mt.write.1.tlog
w32_test_musicbox/vc10/Debug/rc.command.1.tlog
w32_test_musicbox/vc10/Debug/rc.read.1.tlog
w32_test_musicbox/vc10/Debug/rc.write.1.tlog
w32_test_musicbox/vc10/Debug/Resources.res
w32_test_musicbox/vc10/Debug/vc100.idb
w32_test_musicbox/vc10/Debug/vc100.pdb
w32_test_musicbox/src/CinderProjectApp.cpp.old
